<?xml version="1.0" encoding="UTF-8"?>

<beans>

	<bean id="dynamicDbSearcher" class="org.openedit.db.BaseDbSearcher" scope="prototype">
	  	<property name="dbConnection"><ref bean="dbConnection" /></property>
	  	<property name="moduleManager"><ref bean="moduleManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive"/></property>
	 </bean>

	<bean id="relatedDbSearcher" class="org.openedit.db.BaseDbSearcher" scope="prototype">
	  	<property name="dbConnection"><ref bean="dbConnection" /></property>
	  	<property name="moduleManager"><ref bean="moduleManager" /></property>
	  	<property name="dataClass"><value>org.openedit.store.products.RelatedProduct</value></property>
	 </bean>

  <bean id="dbConnection" class="org.openedit.db.util.DbConnection" >
  	<property name="connectionPool"><ref bean="connectionPool" /></property>
  </bean> 

  <bean id="connectionPool" class="org.openedit.db.util.ConnectionPool" >
			<property name="userManager"><ref bean="userManager"/></property>		
  </bean> 

  <bean id="dataMapper" class="org.openedit.db.util.DataMapper" scope="prototype">
  	<property name="sqlFormatter"><ref bean="sqlFormatter" /></property>
  </bean> 

  <bean id="sqlFormatter" class="org.openedit.db.util.SqlFormatter" >
		<property name="xmlArchive"><ref bean="xmlArchive"/></property>
		<property name="userManager"><ref bean="userManager"/></property>		
  </bean> 

  <bean id="categoryDbArchive" class="org.openedit.db.store.CategoryDbArchive" scope="prototype">
  	<property name="dbConnection"><ref bean="dbConnection" /></property>
  </bean> 

  <bean id="productDbArchive" class="org.openedit.db.store.ProductDbArchive" scope="prototype">
  	<property name="dbConnection"><ref bean="dbConnection" /></property>
  	<property name="searcherManager"><ref bean="searcherManager" /></property>
  	<property name="pageManager"><ref bean="pageManager" /></property>
  	
  </bean> 

  <bean id="productDbSearcher" class="org.openedit.db.store.ProductDbSearcher" scope="prototype">
  	<property name="dbConnection"><ref bean="dbConnection" /></property>
  	<property name="moduleManager"><ref bean="moduleManager" /></property>
  </bean>


  <bean id="userDbSearcher" class="org.openedit.db.accounts.DbUserSearcher" scope="prototype">
  	<property name="dbConnection"><ref bean="dbConnection" /></property>
  	<property name="fallBackSearcher"><ref bean="fileUserSearcher" /></property>
  	<property name="moduleManager"><ref bean="moduleManager" /></property>
  </bean>
  <bean id="groupDbSearcher" class="org.openedit.db.accounts.DbGroupSearcher" scope="prototype">
  	<property name="dbConnection"><ref bean="dbConnection" /></property>
  	<property name="fallBackSearcher"><ref bean="fileGroupSearcher" /></property>
  	<property name="moduleManager"><ref bean="moduleManager" /></property>
  </bean>
 	<bean id="fileUserSearcher" class="org.openedit.users.BaseUserSearcher" >
			<property name="userManager"><ref bean="userManager"/></property>		
	</bean>
 	<bean id="fileGroupSearcher" class="org.openedit.users.BaseGroupSearcher" >
			<property name="userManager"><ref bean="userManager"/></property>		
	</bean>
 
 
</beans>